DATABASE_URL=./data/tengritagh.db
CLOVER_API_BASE_URL=https://apisandbox.dev.clover.com
CLOVER_MERCHANT_ID=XXXXXXXXX
CLOVER_API_TOKEN=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSy...
NEXT_PUBLIC_RESTAURANT_NAME=Tengri Tagh Uyghur Cuisine
NEXT_PUBLIC_RESTAURANT_PHONE=(555) 123-4567
NEXT_PUBLIC_RESTAURANT_ADDRESS=Near Times Square, NYC
